@charset "UTF-8";
/*ZERO*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*FONTS*/
@font-face {
  font-family: "minecraft_bold";
  src: url("../fonts/head_minecraft/head_minecraft.eot");
  src: local("☺"), url("../fonts/head_minecraft/head_minecraft.woff") format("woff"), url("../fonts/head_minecraft/head_minecraft.ttf") format("truetype"), url("../fonts/head_minecraft/head_minecraft.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "minecraft";
  src: url("../fonts/minecraft/minecraft.eot");
  src: local("☺"), url("../fonts/minecraft/minecraft.woff") format("woff"), url("../fonts/minecraft/minecraft.ttf") format("truetype"), url("../fonts/minecraft/minecraft.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*--------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100vh;
}

body {
  font-family: minecraft;
  font-size: 19px;
  line-height: 1.4;
}
body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  [class*=__container] {
    max-width: 970px;
  }
}
/*TABLET*/
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
/*MOBILE*/
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}
.header {
  background-color: #222;
  opacity: 0.9;
  border: 1px solid;
  position: fixed;
  z-index: 2;
  width: 100%;
}
.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-family: minecraft_bold;
  font-size: 21px;
  color: #43b5a0;
  letter-spacing: 5px;
}
@media (min-width: 767.98px) {
  .menu__body {
    position: relative;
    z-index: 10;
    display: flex;
    gap: 36px;
    flex-direction: row;
    align-items: center;
    height: 90px;
  }
  .menu__list {
    display: flex;
  }
}
.menu__item {
  border-radius: 5px;
}
.menu__item:hover {
  background-color: #43b5a0;
  transition: background-color 0.3s ease 0s;
}
.menu__link {
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-size: 14px;
}

@media (max-width: 767.98px) {
  .menu {
    height: 60px;
    display: flex;
    align-items: center;
  }
  .menu:before {
    content: "";
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #222;
  }
  .menu__icon {
    z-index: 3;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }
  .menu__icon:before, .menu__icon:after, .menu__icon span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .menu__icon:before, .menu__icon:after {
    content: "";
    transition: transform 0.3s ease 0s;
  }
  .menu__icon:before {
    top: 0;
  }
  .menu__icon:after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: translate(0, -50%);
  }
  .menu__icon._active span {
    display: none;
  }
  .menu__icon._active:before {
    top: 50%;
    transform: rotate(45deg) translate(0, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 80px 30px 30px 30px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }
  .menu__body._active {
    left: 0px;
  }
  .menu__item {
    text-align: center;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .header__logo {
    z-index: 3;
  }
}
.about-us {
  padding: 90px 0 40px 0;
  min-height: 100vh;
  height: 1px;
}
.about-us__container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.about-us__title {
  flex: 100% 0 0;
  margin: 15px 0 0 0;
  color: #333;
}
.about-us__body {
  margin: 70px 0 0 0;
  display: flex;
  align-items: center;
  gap: 30px;
}
.about-us__image {
  flex: 50% 0 0;
}
.about-us__image img {
  box-shadow: 0px 5px 10px 5px #000;
  border-radius: 10px;
  width: 100%;
}
.about-us__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}
.about-us__list > li {
  position: relative;
  padding: 0 0 0 30px;
  margin: 5px;
}
.about-us__list > li > svg {
  position: absolute;
  left: -30px;
  top: 3px;
  transform: translate(30px, 0);
  fill: #333;
}

.title {
  font-size: 3rem;
  font-family: minecraft_bold;
  text-align: center;
  letter-spacing: 3px;
}

@media (max-width: 991.98px) {
  .title {
    font-size: 2rem;
  }
}
@media (max-width: 767.98px) {
  .title {
    font-size: 1.3rem;
  }
}
@media (max-width: 991.98px) {
  .about-us {
    height: auto;
  }
  .about-us__body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-us__image {
    flex: 100% 0 0;
  }
}
@media (max-width: 767.98px) {
  .about-us {
    padding: 60px 0 40px 0;
  }
  .about-us__list {
    font-size: 1rem;
  }
  .about-us__list li svg {
    top: -2px;
  }
}
.peculiarities {
  background-color: #222;
  color: #ffffff;
}
.peculiarities__title {
  padding: 60px 0 0 0;
}
.peculiarities__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 40px 0 0 0;
}
.item-peculiarities {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-peculiarities__title {
  font-family: minecraft_bold;
  font-size: 1.6rem;
  text-align: center;
}
.item-peculiarities__image {
  margin: 50px 0 0 0;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.item-peculiarities__image img {
  width: 100%;
}
.item-peculiarities__icon {
  margin: 25px 0 0 0;
  transform: rotate(90deg);
}
.item-peculiarities__icon svg {
  fill: #ffffff;
  width: 40px;
  height: 40px;
}
.item-peculiarities__text {
  margin: 25px 0 0 0;
  text-align: center;
}

@media (max-width: 767.98px) {
  .item-peculiarities__title {
    font-size: 1rem;
  }
  .item-peculiarities__text {
    font-size: 1rem;
  }
}